body {
	
	background-image: url(../images/generique/fond_bg_body1.jpg);
		background-repeat: repeat;
}





                                      /* debut css pour le bandeau cava  */
.fond {
 background: url('image_de_fond.jpg') no-repeat center center;
 position: fixed; /* Le fond est fixé en haut de la page */
 width: 100%; /* Il occupe toute la largeur de l'écran 100% */
  /*   height: 300px;On met ici la même hauteur que le jumbotron */
 top:0;
 left:0;
 z-index: -1;
	position: relative;

}
.jumbotron {
 margin-bottom: 0px;
 /*height: 300px; */
/* color: white;  Le texte sera affiché en blanc */
 /*text-shadow: black 0.3em 0.3em 0.3em;   */
 background:transparent;  /* supprime le background gris   */
}
                                      /* fin css pour le bandeau cava  */




.card-header{
	background-color: #e6ffe1;  /*  coloration verte   */
	
}


li {
 font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;
 display : list-item;
 list-style-image : url(../images/generique/puce_15x15.gif);
} 

