/* couleurs utilisées
color: #007bff; =>couleur bleu contact mentions legales plan du site
background-color: #f1f9fb;  =>  liste reportages couleur verte
*/




p{text-align: justify;
}








body {
	
	background-image: url(../images/generique/fond_bg_body1.jpg);
		background-repeat: repeat;
}





                                      /* debut css pour le bandeau cava  */
.fond {
/* background: url('image_de_fond.jpg') no-repeat center center;  */
/* position: fixed;  Le fond est fixé en haut de la page */
 width: 100%; /* Il occupe toute la largeur de l'écran 100% */
  /*   height: 300px;On met ici la même hauteur que le jumbotron */
 top:0;
 left:0;
 z-index: -1;
	position: relative;

}
.jumbotron {
 margin-bottom: 0px;
	padding-top: 0px; /* permet de coller le bandeau cava au menu superieur  */
 /*height: 300px; */
/* color: white;  Le texte sera affiché en blanc */
 /*text-shadow: black 0.3em 0.3em 0.3em;   */
 background:transparent;  /* supprime le background gris   */
}
                                      /* fin css pour le bandeau cava  */




.card-header{
	background-color: #e6ffe1;  /*  coloration verte des card  */
	font-weight: bold;
}


/*  on applique uniquement sur la colonne agenda de la page index une puce image  */
.puce_perso li {
 font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;
 display : list-item;
 list-style-image : url(	https://cava-cebazat.fr/images/generique/puce_15x15.gif);
} 

/*   on modifie legerement la couleur verte des boutons   */
.btn-success{
	background-color: #28BF42 ;
	color: #000000;
}


/*  on affiche une barre de separation  */
hr {
     width: 50%;
	align-content: center;
	
}


/* debut  on modifie les couleurs de fond dans la page reportage pour les differents reportages    #f1f9fb   */
.list-group-item-mine {
  background-color: #ffffff;
    border-left-color: #fff;
  border-right-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
	padding: .75rem 1.25rem;
}


.list-group-item-mine:hover {
  background-color: #e6ffe1;  /*  coloration verte pale  */
}
/* fin de   on modifie les couleurs de fond dans la page reportage pour les differents reportages  */

a {
    color: #000000;   /* couleur origine   #007bff;    */
    text-decoration: none;
    background-color: transparent;
	
}

a:hover{color: #8bfe73;}




/* debut modification de la couleur de fond pour le menu horizontal quand il est activé   */ 
.dropdown-item.active, .dropdown-item:active {
    color: #000000;
    text-decoration: none;
    background-color:#8bfe73;    /*  coloration verte  */
/* fin de   modification de la couleur de fond pour le menu horizontal quand il est activé   */   
	
	
	
	
	